
/* selettore de tag  */
html{
  font-size: 14px;
}
body{
  /* utilizzo di font di sistema  */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

  /* utilizzo di Google font  */
  font-family: 'Roboto', sans-serif;
  padding-bottom: 200px;
}

h1{
  color: brown;
  text-align: center;
  /* il font sarà il triplo della dimensione di default (in html ho specificato essere 16 quindi sarà 14 * 3) */
  font-size: 3rem;
}

/* più specifico di class */
#testo-ultimo{
  color: chartreuse;
}

/* più specifico di p */
.ultimo-testo{
  color: brown;
}

p{
  color: blueviolet;
  text-align:justify;
}



.container{
  width: 1000px;
}

.hide{
  display: none;
}

/* 

-- commento su più righe

selettore per id   
*/
#paragrafo-principale{
  color: red;
  font-size: 32px;
  text-align: right;
}

/* selettore per class  */
.paragrafo-generico{
  color: blue;
  text-align: left;
  background-color: beige;
}

.box{
  width: 700px;
  height: 300px;
  border: 1px solid black;
  font-size: 20px;
  margin: 20px;
}

.box p{
  /* visto che il box ha un font di 20px il p in esso contenuto avrà 30px  */
  font-size: 1.5em;
}

.box.box-rosso{
  background-color: red;
  border-width: 5px;
  /* la dimensione del box rimane qualla impostata e nno è influenzata da border o padding */
  box-sizing: border-box;
}

.box.box-salmone{
  /* colore con HEX */
  /* background-color: #F6988F; */
  
  /* stesso colore con rgb */
  background-color: rgb(246, 153, 143);
  
  /* con 2 valori il primo e top/bottom e sil secondo left/right */
  border-width: 3px 10px;
  box-sizing: border-box;
}

.box.box-salmone-trasp{
  /* colore con trasparenza -> 0 a 1  */  
  background-color: rgba(246, 153, 143, .5);

  border-radius: 10px;
}


.paragrafo-grassetto{
  font-weight: 700;
}

.box-con-img{
  width: 100%;
  background-image: url('../img/polli.jpg');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.box-con-padding{
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  background-color: aquamarine;
  height: 300px;
  /* la percenduale del padding è sempre riferita alla larghezza del contenitore */
  padding-left:10%;
  padding-top:10%;
}

.dida{
  margin: 20px;
}

.dida span{
  /* trasformo span da inline a block  */
  display: block;
}

.nome{
  display: inline-block;
  background-color: brown;
  color: white;
  width: 300px;
  height: 200px;
}

.box-con-margini{
  width: 200px;
  height: 150px;
  margin: 20px; 
  background-color: aqua;
}

.box-con-margini.primo{
  margin-bottom: 40px;
}
.box-con-margini.secondo{
  /* questa istruzione non funziona perché collassano i margini con quelo superiore  */
  margin-top: 30px;
}

/* impostazioni link */
a{
  text-decoration: none;
  text-transform:uppercase;
  color: brown;
}

a:hover{
  text-decoration: underline;
}

a:active{
  color: red;
}
a:visited{
  color: aquamarine;
}


.lista-pricipale li{
  color: aqua;
}

/* selseziono il primo elemento  */
.lista-pricipale li:first-child{
  color: red;
}
/* seleziono l'ultimo elemento  */
.lista-pricipale li:last-child{
  color: green;
}
/* seleziono il quarto elemento  */
.lista-pricipale li:nth-child(4)
{
  color: blue;
}
/* seleziono tutto gli elementi dispari  */
.lista-secondaria li:nth-child(odd){
  color: brown;
}
/* seleziono tutto gli elementi pari  */
.lista-secondaria li:nth-child(even){
  color:blueviolet;
}

/* seleziono tutti i multipli di 3 */
.lista-altra li:nth-child(3n){
  color: red;
}
/* multipli di 3 a partire da quinto elemento  */
.lista-altra-bis li:nth-child(3n + 5){
  color: red;
}